#container {
  display: flex;
  height: 100%;
}

#ground {
  background-color: brown;
  width: 65%;
  height: 100%;
}

#inventory {
  background-color: gray;
  width: 35%;
  height: 100%;
  float: right;
}

.item {
  width: 100px;
  height: 100px;
  border: 1px solid black;
	margin: 5px;
}

#ground-items {
  display: flex;
}

#inventory-items {
  display: flex;
}

#ground-bg {
  position: absolute;
	width: 336px;
}
